version: 2
updates:
  # Maintain NPM dependencies
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
    groups:
      # Group all updates to keep PR noise down
      dependencies:
        patterns:
          - "*"
    # Do not auto-rebase if I force push
    rebase-strategy: "disabled"

  # Maintain GitHub Actions
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "monthly"
